<ng-container *ngIf="vm$ | async as vm">
    <form class="forget-password__wrapper" [formGroup]="form" autocomplete="off">
        <div class="forget-password__wrapper__title">
            {{'Forget Password'| translate}}
        </div>
        <div class="forget-password__wrapper__auth">
            <div class="forget-password__wrapper__auth--username">
                <label for="username">{{'Username'| translate}}</label>
                <input id="username" type="text" formControlName="username">
            </div>
        </div>
        <div class="forget-password__wrapper__action">
            <button [disabled]="vm.status === 'loading'" vip-button vipColor="primary-cold"
                vipType="outlined">{{'Back'| translate}}</button>
            <button [disabled]="form.invalid" vip-button vipColor="primary-cold" [vipStatus]="vm.status"
                type="submit" (click)="onSubmit()">{{'Submit'| translate}}</button>
        </div>
    </form>
</ng-container>