<ng-container *ngIf="vm$ | async as vm">
    <ng-container *ngIf="vm.product as product">
        <section class="product-details__wrapper">
            <div class="product-details__container">
                <div class="product-details__header">
                    <a href="#" class="product-details__back">
                        <i class="fa fa-angle-left"></i>
                        <span>Back to all product</span>
                    </a>
                    <div class="product-details__buttons">
                        <button vip-button vipColor="primary-cold" vipType="outlined">Redeem</button>
                        <button [vipStatus]="vm.status" vip-button vipColor="primary-cold" (click)="addToCart(product.id)">Add to Cart</button>
                    </div>
                </div>
                <div class="product-details__content">
                    <div class="product-details__image">
                        <div class="product-details__image--top">
                            <div class="product-details__image--top__slider">
                                <ng-container *ngFor="let image of product.images">
                                    <img [src]="image.url" [alt]="image.filename">
                                </ng-container>
                            </div>
                        </div>
                        <div class="product-details__image--bottom">
                            <ng-container *ngFor="let image of product.images">
                                <div class="product-details__image--bottom__order">
                                    <img [src]="image.url" [alt]="image.filename">
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="product-details__info">
                        <h2 class="product-details__title">{{ product.name }}</h2>
                        <span class="product-details__category">{{ product.category.name }}</span>
                        <div class="product-details__colors">
                            <span class="product-details__colors__title">Colors</span>
                            <ul class="product-details__colors__list">
                                <ng-container *ngFor="let color of product.variants; index as i; first as isFirst">
                                    <li class="product-details__colors__item" 
                                        [class.isSelected]="vm.selectedColor === color"
                                        (click)="changeColor(color)"
                                    >
                                        <span class="product-details__colors__item--body" [style.--itemColor]="color"></span>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                        <div class="product-details__point">
                            <span class="product-details__point__title">Point</span>
                            <span class="product-details__point__number">{{ product.cost }}</span>
                        </div>
                        <div class="product-details__quantity">
                            <label for="quantity" class="product-details__quantity__title">Quantity</label>
                            <input id="quantity" #quantity (change)="changeQuantity(quantity.value)" type="number" value="1" min="1">
                        </div>
                        <div class="product-details__short-description">
                            <span>{{ product.short_description }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details__description">
                <p>{{ product.long_description }}</p>
            </div>
        </section>
    </ng-container>
</ng-container>

